# Basic Level:

In [ ]:
# 1

for i in range(1,11):
  print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [ ]:
# 2

l = [1,2,3,4,5,6,7,8,9,10]
sum = 0
for i in l:
  sum+=i
print(f"Sum of all numbers in the list is: {sum}")

Sum of all numbers in the list is: 55

In [ ]:
# 3

s = "sayantan"
for i in range(len(s)-1,-1,-1):
  print(s[i],end=" ")

n a t n a y a s

In [ ]:
# 4

fact = 1
num = int(input("Enter a number: "))
for i in range(1,num+1):
  fact*=i
print(f"factorial of {num} is: {fact}")

Enter a number: 5
factorial of 5 is: 120

In [ ]:
# 5

num = int(input("Enter a number: "))
for i in range(1,11):
  print(f"{num} x {i} : {num*i}")

Enter a number: 13
13 x 1 : 13
13 x 2 : 26
13 x 3 : 39
13 x 4 : 52
13 x 5 : 65
13 x 6 : 78
13 x 7 : 91
13 x 8 : 104
13 x 9 : 117
13 x 10 : 130

In [ ]:
# 6

l = [1,2,3,4,5,6,7,8,9,10]
odd = 0
even = 0
for i in l:
  if(i%2==0):
    even+=1
  else:
    odd+=1
print(f"Even: {even} and Odd: {odd}")

Even: 5 and Odd: 5

In [ ]:
# 7

for i in range(1,6):
  print(f"Square of {i}: {i*i}")

Square of 1: 1
Square of 2: 4
Square of 3: 9
Square of 4: 16
Square of 5: 25

In [ ]:
# 8

count = 0
s = "sayantan"
for i in s:
  count+=1
print(f"Length of the string is: {count}")

Length of the string is: 8

In [ ]:
# 9

l = [1,2,3,4,5,6,7,8,9,10]
avg = 0
sum = 0
for i in l:
  sum +=i
avg = sum / len(l)
print(f"Average of numbers in the list is: {avg}")

Average of numbers in the list is: 5.5

In [ ]:
# 10
a = 0
b = 1
c = 0
num = int(input("Enter value: "))
if(num==0):
  print(f"{a}")
elif(num==1):
  print(f"{b}")
else:
  for i in range(2,num+1):
    c = a+b
    a = b
    b = c
  print(f"{c}")

Enter value: 9
34

# Intermediate Level:

In [ ]:
# 11

flag = False
l = [1,2,1,3,4]
for i in l:
  for j in range(1,len(l)):
    if(i==l[j]):
      flag = True
if(flag):
  print("Contain duplicate")
else:
  print("Does not contain duplicate")

Contain duplicate

In [ ]:
# 12
flag = False
num1 = int(input("Enter starting range: "))
num2 = int(input("Enter ending range: "))
for i in range(num1,num2+1):
  if i>1:
    for j in range(2,i):
      if(i%j==0):
        break
    else:
      print(i,end=" ")

Enter starting range: 1
Enter ending range: 11
2 3 5 7 11

In [ ]:
# 13

vow = "aeiouAEIOU"
str1 = "sayantan"
count = 0
for i in str1:
  if(i in vow):
    count+=1
print(f"No of vowels: {count}")

No of vowels: 3

In [ ]:
# 14

l = [[1,2,3,4,5],[6,7,8,9,10]]
max = 0
for i in l:
  for j in i:
    if(j>max):
      max = j
print(f"Maxium element: {max}")

Maxium element: 10

In [ ]:
# 15

l = [1,2,3,1,4,1]
j=[]
num = 1
for i in l:
  if(i!=num):
    j.append(i)
print(j)

[2, 3, 4]

In [ ]:
# 16

for i in range(1,6):
  for j in range(1,11):
    print(f"{i} x {j} : {i*j}")
  print("-----X-----")

1 x 1 : 1
1 x 2 : 2
1 x 3 : 3
1 x 4 : 4
1 x 5 : 5
1 x 6 : 6
1 x 7 : 7
1 x 8 : 8
1 x 9 : 9
1 x 10 : 10
-----X-----
2 x 1 : 2
2 x 2 : 4
2 x 3 : 6
2 x 4 : 8
2 x 5 : 10
2 x 6 : 12
2 x 7 : 14
2 x 8 : 16
2 x 9 : 18
2 x 10 : 20
-----X-----
3 x 1 : 3
3 x 2 : 6
3 x 3 : 9
3 x 4 : 12
3 x 5 : 15
3 x 6 : 18
3 x 7 : 21
3 x 8 : 24
3 x 9 : 27
3 x 10 : 30
-----X-----
4 x 1 : 4
4 x 2 : 8
4 x 3 : 12
4 x 4 : 16
4 x 5 : 20
4 x 6 : 24
4 x 7 : 28
4 x 8 : 32
4 x 9 : 36
4 x 10 : 40
-----X-----
5 x 1 : 5
5 x 2 : 10
5 x 3 : 15
5 x 4 : 20
5 x 5 : 25
5 x 6 : 30
5 x 7 : 35
5 x 8 : 40
5 x 9 : 45
5 x 10 : 50
-----X-----

In [ ]:
# 17

l = [158,176,194,212]
for i in l:
  cel = ((i-32)*5)/9
  print(cel,end=" ")

70.0 80.0 90.0 100.0

In [ ]:
# 18

l1 = [1,2,3,4,5]
l2 = [1,2,3,6,7]
for i in l1:
  if i in l2:
    print(i,end=" ")

1 2 3

In [ ]:
# 19

for i in range(5):
  for j in range(i+1):
    print("*",end='')
  print("")

*
**
***
****
*****

In [ ]:
# 20

num1 = int(input("Enter no 1: "))
num2 = int(input("Enter no 2: "))
div = 0
for i in range(1,min(num1,num2)+1):
  if(num1%i==0 and num2%i==0):
    div = i
print(f"Gcd of {num1} and {num2} is: {div}")

Enter no 1: 15
Enter no 2: 20
Gcd of 15 and 20 is: 5

# Advanced Level:

In [ ]:
# 21

l = [1,2,3,4,5,6,7,8,9,10]
res = sum([i for i in l])
print(f"Sum: {res}")

Sum: 55

In [ ]:
# 22

num = int(input("Enter a number: "))
fact = []
div = 2
while div<=num:
  if num%div==0:
    fact.append(div)
    num=num/div
  else:
    div+=1
print(f"Prime factor of {num} is: {fact}")

Enter a number: 315
Prime factor of 1.0 is: [3, 3, 5, 7]

In [ ]:
 # 23

l = [1,2,2,3,4,4,4,5,6,6]
new_l = [i for i in l if l.count(i)==1]
print(f"Unique elements: {new_l}")

Unique elements: [1, 3, 5]

In [ ]:
# 24

limit = int(input("Enter a number: "))
l = [i for i in range(1,limit+1) if(str(i)==str(i)[::-1])]
print(l)

Enter a number: 121
[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121]

In [ ]:
# 25

l = [[1,2,3],[4,5,6],[7,8,9]]
new_l=[j for i in l for j in i]
print(new_l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 26

l = [1,2,3,4,5,6,7,8,9,10]
ev_l = [i for i in l if(i%2==0)]
od_l = [i for i in l if(i%2!=0)]
print(f"Sum of Even: {sum(ev_l)} and Sum of Odd: {sum(od_l)}")

Sum of Even: 30 and Sum of Odd: 25

In [ ]:
# 27

l = [i**2 for i in range(1,11) if i%2!=0]
print(l)

[1, 9, 25, 49, 81]

In [ ]:
# 28

k = [1,2,3]
v = ['a','b','c']
dict1 = {k[i]:v[i] for i in range(len(k))}
print(dict1)

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
# 29

vow = "aeiouAEIOU"
str1 = "sayantan dinda"
l = [i for i in str1 if i in vow]
print(f"Vowels are: {l}")

Vowels are: ['a', 'a', 'a', 'i', 'a']

In [ ]:
 # 30

l = ['abc123','def456','ghi789']
new_l =[''.join(filter(str.isdigit, s)) for s in l]
print(new_l)

['123', '456', '789']

# Challenge Level:

In [4]:
# 32

def pythagorean_triplets(num):
    triplets = [(a, b, c) for a in range(1,num + 1) for b in range(a, num + 1) for c in range(b, num + 1) if a**2 + b**2 == c**2]
    return triplets

num = int(input("Enter the limit: "))
triplets=pythagorean_triplets(num)
print(f"Pythagorean Triplets: {triplets}")

Enter the limit: 5
Pythagorean Triplets: [(3, 4, 5)]

In [6]:
# 33

l1 = [1, 2, 3]
l2 = ['a', 'b', 'c']
l = [(x, y) for x in l1 for y in l2]
print(f"Combination: {l}")

Combination: [(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

In [14]:
# 34

import statistics as st
l = [1,2,3,4,5,6]
mean = sum(l)/len(l)
l.sort()
print(l)
n = len(l)
if len(l)%2!=0:
  ind = ((n+1)//2)-1
  median=l[ind]
else:
  median = ((l[(n//2)-1]) + l[(n//2)])/2
mode=st.mode(l)
print(f"Mean: {mean} || Meadin: {median} || Mode: {mode}")

[1, 2, 3, 4, 5, 6]
Mean: 3.5 || Meadin: 3.5 || Mode: 1

In [17]:
# 35

from math import factorial
n = int(input("Enter row: "))
for i in range(n):
    for j in range(n-i+1):
        print(end=" ")
    for j in range(i+1):
        print(factorial(i)//(factorial(j)*factorial(i-j)), end=" ")
    print()

Enter row: 6
       1
      1 1
     1 2 1
    1 3 3 1
   1 4 6 4 1
  1 5 10 10 5 1

In [19]:
# 36

def fact(num):
  count=1
  for i in range(1,num+1):
    count*=i
  return count
l=[]
for i in range(1,6):
  l.append(fact(i))
print(f"Sum of factorials: {sum(l)}")

Sum of factorials: 153

In [20]:
# 37

sen = input("Enter a sentence: ")
words = sen.split()
long_word = max(words, key=len)
print("longest word: ", long_word)

Enter a sentence: my name is sayantan
longest word:  sayantan

In [22]:
# 38

def count(s):
    vowels = "AEIOUaeiou"
    return sum(1 for char in s if char in vowels)

l = ["apple", "banana", "grape", "kiwi", "watermelon", "strawberry"]
new_l = [s for s in l if count(s) > 3]
print(new_l)

['watermelon']

In [23]:
# 39

l = [i for i in range(1,1001)]
print(f"Sum of digit: {sum(l)}")

Sum of digit: 500500